body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #004285;
}

#direction-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#front-cm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#car-image {
    margin-top: 2.5%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}